html {
    width: 100%;
    height: 100%;
}

body {
    background: #f5f5f5 url('/design/img/background-pattern.png');
    font-family: helvetica;
    color: #555;
}

a, a:link, a:visited, a:hover, a:active {
    color: #555;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

#outerContainer {
    width: 1000px;
    margin: 0px auto;
}

#loginForm {
    display: block;
    margin: 0px auto;
    width: 300px;
}

header#mainMenu {
    background-color: rgba(255, 255,255, 0.3);
    border-bottom: 1px solid #ddd;
    height: 50px;
    margin-top: 20px;
    padding: 5px 15px;
    line-height: 50px;
    vertical-align: middle;
}

header#mainMenu a {
    padding: 0px 5px;
}

section#innerContainer {
    display: block;
    width: 1000px;
    margin-top: 20px;
}

aside#leftPanel {
    width: 250px;
    float: left;
}

aside#leftPanel h2 {
    margin-bottom: 10px;
}

section#rightPanel {
    float: left;
    width: 750px;
    font-size: 14px;
    padding-bottom: 20px;
}

section#rightPanel h2 {
    margin-bottom: 10px;
}

#stats img {
    margin: 20px 0;
    padding: 5px;
    border: 1px solid #bbb;
    border-top-color: #ddd;
    border-left-color: #ddd;
    box-shadow: 2px 2px 7px #bbb;
    background: #fff;
    width: 740px;
}

.task {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #aaa;
    border-top-color: #ccc;
    border-left-color: #ccc;
    box-shadow: 2px 2px 7px #bbb;
    background: rgba(255, 255, 255, 0.285);
}

.task strong {
    font-size: 15px;
}

/* formulare */

input, textarea, button, .button {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
    background: -webkit-linear-gradient(top, #fff, #eee);
    background: -moz-linear-gradient(top, #fff, #eee);
    background: -ms-linear-gradient(top, #fff, #eee);
    background: -o-linear-gradient(top, #fff, #eee);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 8px;
    box-shadow: 2px 2px 5px #ddd;
    color: #666;
    transition: border .2s, color .2s;
}

button, .button {
    margin-right: 2px;
    cursor: pointer;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
}

.button {
    display: inline-block;
    padding-right: 12px;
    padding-left: 10px;
    padding-bottom: 8px;
    vertical-align: middle;
    line-height: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

input[type='text'], input[type='password'], input[type='datetime-local'] {
	width: 400px;
}

textarea {
	width: 400px;
	height: 100px;
}

input[type='submit'], input[type='button'], button, .button {
    cursor: pointer;
    text-decoration: none;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #888;
    color: #222;
    text-decoration: none;
}

input[type='submit']:hover, input[type='button']:hover, button:hover, .button:hover {
    color: #000;
    text-decoration: none;
}

.subTasks {
    margin: 10px 0;
}

.subTasks .button, .subTasks button {
    line-height: 18px;
    margin: 0;
    font-size: 9px;
    height: 18px;
    padding: 2px 5px;
}

.subTasks ul {
    list-style-image: url('/design/img/ul_task.png');
    vertical-align: middle;
    line-height: 1em;
}

.subTasks ul li {
    vertical-align: middle;
    line-height: 2.2em;
    height: 2.2em;
}

.subTasks ul li .button, .subTasks ul li button {
	float: right;
}

.subHeader {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 4px;
}

.prio1 {
    color: #d00000;
}

.prio2 {
    color: #ffc000;
}

.prio3 {
    color: #c18aff;
}

.subTasks ul li.finished {
    color: #555;
    opacity: 0.5;
}

.uloha:first-child {
    border-top: 1px dotted #bbb;
}

.uloha {
    color: inherit;
    border-bottom: 1px dotted #bbb;
    padding: 5px;
    padding-left: 8px;
}

.uloha:nth-child(odd){
    background: rgba(220, 220, 220, 0.3);
}

.uloha.prio1 {
    background: rgba(255, 0, 0, 0.27)
}

.uloha.prio2 {
    background: rgba(225, 240, 50, 0.2)
}

.uloha.prio3 {
    background: rgba(240, 50, 217, 0.2)
}

/* tabulky */

table {
    border: 0;
}

table tr td {
    padding: 0;
    border: 0;
    vertical-align: baseline;
}